.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	flex-grow: 1;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.link {
	color: var(--text-color);
	text-decoration: none;
	position: relative;
	padding-bottom: 2px;
	background-position: center bottom, center calc(100% - 1px);
	transition: background 5s ease-out;
}

.link:hover::after {
	content: '';
	position: absolute;
	top: 101%;
	left: 0;
	height: 1px;
	width: 100%;
	background: var(--text-color);
	background: linear-gradient(
		to left,
		transparent 0%,
		var(--text-color) 50%,
		transparent 100%
	);
}


.card img {
	width: 100%;
	height: auto;
	object-fit: contain;
}
