.Search input {
	margin: 15px 0;
	border: none;
	width: 330px;
	max-width: calc(100% - 20px);
	background-image: linear-gradient(var(--main-color), var(--main-color)),
		linear-gradient(#d2d2d2, #d2d2d2);
	background-size: 0 2px, 100% 1px;
	background-repeat: no-repeat;
	background-position: center bottom, center calc(100% - 1px);
	transition: background 0.2s ease-out;
	background-color: transparent;
	border-radius: 0;
	font-weight: 400;
	font-size: 1.1rem;
}

.Search input:focus {
	background-size: 100% 2px, 100% 1px;
	background-color: transparent;
}
