.main {
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	height: 100vh;
	padding-top: 20px;
}

.layout {
	display: grid;
	grid-template-columns: 1fr 5fr;
	column-gap: 3rem;
}

.link{
	color: var(--main-color);
	text-decoration: none;
	position: relative;
	padding-bottom: 2px;
}

.name {
	font-weight: bold;
	font-size: 2rem;
	margin-bottom: 0.5rem;
}
.type {
	font-style: italic;
	margin-bottom: 0.5rem;
}
.heading {
	font-weight: bold;
}
.attribute {
	font-weight: bold;
}
.picture {
	max-height: 400px;
}

@media screen and (max-width: 1200px) {
	.main {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media screen and (max-width:600px) {
	.layout {
		grid-template-columns: 1fr;
		row-gap: 3rem;
	}
}
