:root {
	--main-color: #2b75bb;
	--light-color: #fff;
	--text-color: #555;
	--pokemon-yellow: #fbcb18;
	--pokemon-blue: #2b75bb;
	--pokemon-red: #e53935;
	--font-size: 14px;
	--font-weight: 400;
	--font-family: 'Roboto', 'Arial', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	color: var(--text-color);
	background-color: var(--light-color);
	font-size: var(--font-size);
	font-family: var(--font-family);
	font-weight: var(--font-weight);
}

input,
select,
textarea,
button,
input:focus,
select:focus,
textarea:focus,
button:focus,
input:hover,
select:hover,
textarea:hover,
button:hover {
	box-shadow: none !important;
	outline: none !important;
}

/* Scroll */
::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background-color: #eaeaea;
}

::-webkit-scrollbar-thumb {
	background-color: var(--main-color);
}

