.container {
	text-align: center;
}

.main {
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	height: 100vh;
	padding: 20px 0;
}

.title {
	color: var(--pokemon-yellow);
	text-shadow: 2px 0 0 var(--pokemon-blue), -2px 0 0 var(--pokemon-blue),
		0 2px 0 var(--pokemon-blue), 0 -2px 0 var(--pokemon-blue),
		1px 1px var(--pokemon-blue), -1px -1px 0 var(--pokemon-blue),
		1px -1px 0 var(--pokemon-blue), -1px 1px 0 var(--pokemon-blue);
}

.subtitle {
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 600px) {
	.subtitle {
		justify-content: center;
		margin: 10px 0;
		flex-wrap: wrap;
	}
	.subtitle h2 {
		display: none;
	}
}
